<app-nav-bar></app-nav-bar>
<div class="movies-container">
  <mat-card *ngFor="let movie of movies;" class="movie-card-container">
    <mat-card-header  class="movie-card-header">
      <mat-card-title class="movie-card-title">{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt= {{movie.Title}} />
    <mat-card-actions class="movie-card-actions-container">
      <button
          mat-button
          color="accent"
          (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
          Genre
      </button>
      <button
          mat-button
          color="accent"
          (click)=
          "openDirectorDialog(
            movie.Director.Name,
            movie.Director.Bio
          )"
      >
          Director
      </button>
      <button
          mat-button
          color="accent"
          (click)="openSynopsisDialog(movie.Description)"
      >
          Synopsis
      </button>
      
      <!-- favorites button -->
      <button
        matTooltip="Favorite movie"
        matTooltipPosition="above"
        mat-icon-button
        aria-label="Adds movie to user's list of favorites"
        (click)="onToggleFavoriteMovie(movie._id)"
      >
        <mat-icon color="warn">
          <span *ngIf="isFavorite(movie._id); else elseBlock"
            >star</span
          >
          <ng-template #elseBlock>favorite_border</ng-template>
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>