@import "~@angular/material/theming";
@include mat-core();

$myFlix-Angular-client-primary: mat-palette($mat-deep-purple, 300);
$myFlix-Angular-client-accent: mat-palette($mat-indigo, 900);
$myFlix-Angular-client-warn: mat-palette($mat-purple, A400);

$myFlix-Angular-client-theme: mat-light-theme(
  (
    color: (
      primary: $myFlix-Angular-client-primary,
      accent: $myFlix-Angular-client-accent,
      warn: $myFlix-Angular-client-warn,
    ),
  )
);

@include angular-material-theme($myFlix-Angular-client-theme);

// Global Defaults

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Libre Baskerville", sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #000051,
    #191267,
    #2e257e,
    #403896,
    #534bae
  );
  // background-image: linear-gradient(
  //   to right top,
  //   #c7a4ff,
  //   #9777d1,
  //   #684da4,
  //   #3a2579,
  //   #000051
  // );
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1 {
  color: white;
}
