<app-nav-bar></app-nav-bar>
<div class="profile-container">
  <section>
    <h2>Your Favorite Movies:</h2>
    <div class="favorite-movies-container">
      <mat-card class="favoriteMovie-card-container" *ngFor='let favorite of favorites'>
        <mat-card-header class="favoriteMovie-card-header">
          <mat-card-title class="favoriteMovie-card-title">{{favorite.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{favorite.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{favorite.ImagePath}} alt={{favorite.Title}} />
        <mat-card-actions class="favoriteMovie-card-actions-container">
          <button
            mat-button
            color='basic'
            (click)='removeFavorites(favorite._id, favorite.Title)'            
          >
            Remove Favorite
          </button>
        </mat-card-actions>
      </mat-card>
    </div>    
  </section>  
</div>